@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  display: block;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png")
      39 39,
    auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: min(12vw, 14em);
  line-height: 0.85em;
  color: var(--foreground);
}

h2 {
  font-weight: 400;
  font-size: min(5vw, 10em);
  line-height: 0.6em;
  color: var(--foreground);
}

h3 {
  font-weight: 400;
  font-size: min(3vw, 7em);
  line-height: 0.6em;
  color: var(--foreground);
}

.image {
  fill: var(--foreground);
}

/* Cool Doggo Logo - Dark Mode Support */
.dark .cool-doggo-logo path {
  fill: #ffffff;
}

.cool-doggo-logo path {
  fill: #000000;
  transition: fill 0.3s ease;
}

.main-text {
  color: var(--foreground);
}

/* Home Page */
.fixed-image {
  width: 120px;
  position: fixed;
  top: -180px;
  left: 50px;
  z-index: 1000;
  cursor: pointer;
}
